
@{
}



<div class="form-group text-center ">
    <div>Bạn không có quyền truy cập vào chức năng Quản lý Nhân viên</div>
    
        <a class="btn btn-danger" href="~/Home/Index">
            <i ></i> Quay lại
        </a>
</div>